.node {
    cursor: pointer;
    transition: transform 0.05s ease, filter 0.1s ease;
}

.node.selected rect {
    stroke: black;
}

.node.dragging rect {
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 1));
}
