html, body {
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2e; /* Dark grey background behind the white canvas */
  overflow: hidden;
  position: relative;
}

.canvas {
  background-color: #2e2e2e;
}